<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540935967138-v50n4qsj6s7l9omqm732ga5vost28dde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540935967138-v50n4qsj6s7l9omqm732ga5vost28dde</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>540935967138-aoclu1apmfonn2p5mqjkd61b1epc5llm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoUKO6U4KfoypH-WQGifLtwZU-MbJ_HnU</string>
	<key>GCM_SENDER_ID</key>
	<string>540935967138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.heritagehues</string>
	<key>PROJECT_ID</key>
	<string>heritage-hues-ezez7i</string>
	<key>STORAGE_BUCKET</key>
	<string>heritage-hues-ezez7i.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540935967138:ios:aeb917a363cc92469b22fb</string>
</dict>
</plist>